body {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    background-color: #E6E6E6;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 200px;
    background-color: #36B9CB;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: fixed;
    font-family: "Roboto Condensed", sans-serif;
    padding: 16px 20px 20px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 4px;
    padding: 0;
    line-height: 1;
}

.sidebar-logo {
    margin: 0;
    height: 48px;
    padding: 0;
}

.sidebar-divider {
    padding: 0;
    border: none;
    height: 1px;
    background-color: #ffffff70; /* light white tint */
    margin: 6px 0 10px 0;
}

.admin-label {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.nav-top {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 6px;
}

.nav-bottom {
    margin-bottom: 40px; /* lift it up a bit from bottom */
}

.sidebar a {
    display: block;
    text-decoration: none;
    padding: 10px 12px;
    font-weight: 700;
    color: white;
    font-size: clamp(12px, 1.5vw, 16px);
    font-weight: 700;
    transition: all 0.3s ease; 
    white-space: nowrap;
    border-radius: 8px; 
    margin: 0;
}

.sidebar a:hover {
    background-color: #8EC2D7;
    padding-left: 17px; 
    border-radius: 8px;  
}

.sidebar a.logout {
    margin-top: 60px; 
}

.content {
    margin-left: 250px; /* leave space for sidebar */
    padding: 20px;
    width: 100%;
}